extends layout
block content
        include sidebar
            block pageContent
                div.page-content-wrapper
                    div.container-fluid
                        h2 Create Endpoint
                        hr
                        div
                            .form-group
                                label(for='endpointName') Endpoint Name:
                                input#endpointName.form-control(type='text',class='endpointName', placeholder='Enter Endpoint Name')
                            .form-group
                                label Endpoint Type:
                                div.radio
                                    label
                                        input(class='endpointType',type="radio",name="endpointType", value="GET")
                                        span GET
                                div.radio
                                    label
                                        input(class='endpointType',type="radio",name="endpointType", value="POST")
                                        span POST
                                div.radio
                                    label
                                        input(class='endpointType',type="radio",name="endpointType", value="PUT")
                                        span PUT
                                div.radio
                                    label
                                        input(class='endpointType',type="radio",name="endpointType", value="DELETE")
                                        span DELETE
                            br
                            hr
                            .form-group.header-parameters
                                label(for='header') Headers

                                #headerParamsContainer.form-horizontal(role='form')
                                        span.col-md-2.control-label
                                        #headerParams.col-md-10
                                            .form-group.row.parameter-row
                                                .col-md-4
                                                    input#inputKey.form-control(type='text', name='headerParamsKey[]', placeholder='Key')
                                                .col-md-4
                                                    input#inputValue.form-control(type='text', name='headerParamsValue[]', placeholder='Value')
                                                .col-md-1
                                                    input.flat-bt.flat-info-bt.addRemoveBt(type='button', value='+', onclick="addHeaderParamPair('headerParams');")
                            br
                            hr
                            .form-group.query-parameters
                                label(for='email') Query Parameters
                                #getParamsContainer.form-horizontal(role='form')
                                        span.col-md-2.control-label
                                        #getParams.col-md-10
                                            .form-group.row.parameter-row
                                                .col-md-4
                                                    input#inputKey.form-control(type='text', name='getParamsKey[]', placeholder='Key')
                                                .col-md-4
                                                    input#inputValue.form-control(type='text', name='getParamsValue[]', placeholder='Value')
                                                .col-md-1
                                                    input.flat-bt.flat-info-bt.addRemoveBt(type='button', value='+', onclick="addGetParamPair('getParams');")

                            br
                            hr
                            .form-group.form-parameters
                                label(for='email') Form Parameters:
                                #postParamsContainer.form-horizontal(role='form')
                                        span.col-md-2.control-label
                                        #postParams.col-md-10
                                            .form-group.row.parameter-row
                                                .col-md-4
                                                    input#inputKey.form-control(type='text', name='postParamsKey[]', placeholder='Key')
                                                .col-md-4
                                                    input#inputValue.form-control(type='text', name='postParamsValue[]', placeholder='Value')
                                                .col-md-1
                                                    input.flat-bt.flat-info-bt.addRemoveBt(type='button', value='+', onclick="addPostParamPair('postParams');")
                            br
                            hr
                            .form-group
                                label(for='email') Description:
                                textarea#desc.form-control(placeholder='Description',class='endpointDescription', name='endpointDescription')
                            hr
                            div(id='err').text-center
                            br
                            button.flat-bt.flat-primary-bt.pull-right(id='createEndpoint', type='Submit') Create
                            br
                            br
                            br
                            br
                            br