extends layout
block content
    include sidebar
        block pageContent
            div.page-content-wrapper
                div.container-fluid
                    h2 Edit Endpoint
                    hr
                    div
                        .form-group
                            label(for='endpointName') Endpoint Name:
                            input#endpointName.form-control(value='#{obj.endpoint_name}' type='text',class='endpointName', placeholder='Enter Endpoint Name')
                        .form-group
                            label Endpoint Type:
                            div.radio
                                label
                                    if obj.endpoint_type=='GET'
                                        input(checked='checked'  value="GET", class='endpointType',type="radio",name="endpointType")
                                    else
                                        input(value="GET", class='endpointType',type="radio",name="endpointType")

                                    span GET
                            div.radio
                                label
                                    if obj.endpoint_type=='POST'
                                        input(checked='checked',  class='endpointType',type="radio",name="endpointType", value="POST")
                                    else
                                        input(class='endpointType',type="radio",name="endpointType", value="POST")
                                    span POST

                            div.radio
                                label
                                    if obj.endpoint_type=='PUT'
                                        input(checked='checked',  class='endpointType',type="radio",name="endpointType", value="PUT")
                                    else
                                        input(class='endpointType',type="radio",name="endpointType", value="PUT")
                                    span PUT

                            div.radio
                                label
                                    if obj.endpoint_type=='DELETE'
                                        input(checked='checked',  class='endpointType',type="radio",name="endpointType", value="DELETE")
                                    else
                                        input(class='endpointType',type="radio",name="endpointType", value="DELETE")
                                    span DELETE


                        hr
                        .form-group.header-parameters
                            label(for='header') Header Parameters
                            #headerParamsContainer.form-horizontal(role='form')
                                    span.col-md-2.control-label
                                    #headerParams.col-md-10
                                        - var t = 0;
                                        each val, index in obj.header_parameters
                                            - t++;
                                            div.form-group.row.parameter-row(id='headerParamsPair#{t}')
                                                .col-md-4
                                                    input#inputKey.form-control(type='text', name='headerParamsKey[]', placeholder='Key', value='#{index}')
                                                .col-md-4
                                                    input#inputValue.form-control(type='text', name='headerParamsValue[]', placeholder='Value', value='#{val}')
                                                .col-md-1
                                                    input.flat-bt.flat-info-bt.addRemoveBt(type='button', value='+', onclick="addHeaderParamPair('headerParams');")
                                                if t!= 1
                                                    .col-md-1
                                                        input.flat-bt.flat-danger-bt.addRemoveBt(type='button', value='-', onclick="removeHeaderParamPair('headerParamsPair#{t}',this);")


                        hr
                        .form-group.query-parameters
                            label(for='email') Query Parameters
                            #getParamsContainer.form-horizontal(role='form')
                                    span.col-md-2.control-label
                                    #getParams.col-md-10
                                        - var m = 0;
                                        each val, index in obj.query_parameters
                                            - m++;
                                            div.form-group.row.parameter-row(id='getParamsPair#{m}')
                                                .col-md-4
                                                    input#inputKey.form-control(type='text', name='getParamsKey[]', placeholder='Key', value='#{index}')
                                                .col-md-4
                                                    input#inputValue.form-control(type='text', name='getParamsValue[]', placeholder='Value', value='#{val}')
                                                .col-md-1
                                                    input.flat-bt.flat-info-bt.addRemoveBt(type='button', value='+', onclick="addGetParamPair('getParams');")
                                                if m!= 1
                                                    .col-md-1
                                                        input.flat-bt.flat-danger-bt.addRemoveBt(type='button', value='-', onclick="removeGetParamPair('getParamsPair#{m}',this);")

                        hr
                        .form-group.form-parameters
                            label(for='email') Form Parameters:
                            #postParamsContainer.form-horizontal(role='form')
                                    span.col-md-2.control-label
                                    #postParams.col-md-10
                                        - var n = 0;
                                        each val, index in obj.form_parameters
                                            - n++;
                                            div.form-group.row.parameter-row(id='formParamsPair#{n}')
                                                .col-md-4
                                                    input#inputKey.form-control(type='text', name='postParamsKey[]', placeholder='Key', value='#{index}')
                                                .col-md-4
                                                    input#inputValue.form-control(type='text', name='postParamsValue[]', placeholder='Value', value='#{val}')
                                                .col-md-1
                                                    input.flat-bt.flat-info-bt.addRemoveBt(type='button', value='+', onclick="addPostParamPair('postParams');")
                                                if n != 1
                                                    .col-md-1
                                                        input.flat-bt.flat-danger-bt.addRemoveBt(type='button', value='-', onclick="removeGetParamPair('formParamsPair#{n}',this);")

                        hr
                        .form-group
                            label(for='email') Description:
                            textarea#desc.form-control( placeholder='Description',class='endpointDescription', name='endpointDescription') #{obj.endpoint_description}
                        hr
                        input(type='hidden' class='uid' value='#{obj.uid}' )
                        div(id='err').text-center
                        br
                        button.flat-bt.flat-primary-bt.pull-right(id='editEndpoint', type='Submit') Update
                        br
                        br
                        br
                        br
                        br