//
   Created by asad on 6/25/15.
nav.navbar.navbar-default.navbar-dark.navbar-fixed-top(role="navigation")
   .navbar-header
      button.navbar-toggle(type="button", data-target="#navbarCollapse", data-toggle="collapse")
         span.sr-only Toggle navigation
         span.icon-bar
         span.icon-bar
         span.icon-bar
      a.navbar-brand(href="#") API Test
   #navbarCollapse.collapse.navbar-collapse
      ul.nav.navbar-nav
         li(class="homeTab")
            a(href="/" ) Home
         li(class="endpointsTab")
            a(href="/endpoints/viewEndpoints" ) Endpoints
         li(class="helpTab")
            a(href="/help" ) Help
      form.navbar-form.navbar-left(role="search")
         .form-group
            //input.form-control.searchTextbox(type="text", placeholder="Search Endpoint")
      ul.nav.navbar-nav.navbar-right
         li.dropdown
            a.dropdown-toggle(data-toggle="dropdown", href="#")
               = username
               b.caret
            ul.dropdown-menu(role="menu")
               li
                  a(href="#") Settings
               li
                  a(href="/help") Help
               li.divider
               li
                  a(href="/logout") Logout

