extends layout
block content
        include sidebar
            script(type='text/javascript').
                {
                    $(".helpTab").addClass('active');
                }

            block pageContent
                div.page-content-wrapper
                    div.container-fluid
                        h2 Help
                        hr
                        span
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nec malesuada purus, ac laoreet dolor. Nunc placerat sed diam iaculis tempus. Nulla facilisi. Phasellus quis quam nec arcu porttitor lobortis. Quisque vehicula eget diam vitae dapibus. Nam tincidunt sapien malesuada nunc venenatis fermentum. Morbi quis ligula maximus, efficitur enim et, dignissim dolor. Nulla quis vehicula felis. Interdum et malesuada fames ac ante ipsum primis in faucibus. In id leo leo.
                            brSed auctor nibh ex, vitae aliquam libero commodo id. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean scelerisque ultricies lacus a venenatis. Ut mi arcu, sollicitudin eget maximus et, rhoncus vitae turpis. Vestibulum id iaculis ante, ac malesuada libero. Etiam finibus commodo leo et lacinia. Phasellus convallis odio enim, sit amet tempus turpis venenatis a.
                            Nunc iaculis neque vel posuere porta. Morbi pellentesque, elit eget ultrices accumsan, risus nunc volutpat nibh, in consectetur nisi dui eu arcu. Phasellus facilisis ultrices congue. Nam ex sapien, vehicula et eros eget, suscipit blandit arcu. Nulla imperdiet, augue quis imperdiet maximus, leo sapien lacinia ex, sit amet placerat urna leo sed mauris. Cras at tincidunt libero, eu consequat urna. Sed quis semper leo.
                            Suspendisse non leo id ipsum dictum venenatis quis elementum neque. Sed laoreet tempus odio, non efficitur massa convallis auctor. Donec non dui augue. Mauris a ipsum et ante ultrices tempus id quis sapien. Quisque vitae nisl odio. Ut vehicula sem id quam consectetur, rutrum commodo erat venenatis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas a tincidunt libero, in malesuada arcu. Morbi sed nisi a odio molestie lobortis id at risus.
                        br
                        br
                        span
                            brSed auctor nibh ex, vitae aliquam libero commodo id. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean scelerisque ultricies lacus a venenatis. Ut mi arcu, sollicitudin eget maximus et, rhoncus vitae turpis. Vestibulum id iaculis ante, ac malesuada libero. Etiam finibus commodo leo et lacinia. Phasellus convallis odio enim, sit amet tempus turpis venenatis a.
                            Nunc iaculis neque vel posuere porta. Morbi pellentesque, elit eget ultrices accumsan, risus nunc volutpat nibh, in consectetur nisi dui eu arcu. Phasellus facilisis ultrices congue. Nam ex sapien, vehicula et eros eget, suscipit blandit arcu. Nulla imperdiet, augue quis imperdiet maximus, leo sapien lacinia ex, sit amet placerat urna leo sed mauris. Cras at tincidunt libero, eu consequat urna. Sed quis semper leo.
                            Donec in odio sed ex posuere iaculis ac ut felis. Ut tempor nisl vitae tellus dapibus aliquet. Cras velit mauris, placerat sed vestibulum sit amet, molestie vel felis. Phasellus pretium eget enim et lobortis. Nulla pulvinar rutrum augue. Suspendisse potenti. Sed et est sit amet mauris porta ornare sed sed libero. In semper metus in viverra hendrerit. Donec ultricies sem in lorem hendrerit, nec placerat massa viverra. Cras ex dui, vehicula ac iaculis a, convallis in enim. Morbi non congue orci. In viverra cursus dui, aliquam sollicitudin metus facilisis in. Nunc vulputate ornare ex et semper.
                            Suspendisse non leo id ipsum dictum venenatis quis elementum neque. Sed laoreet tempus odio, non efficitur massa convallis auctor. Donec non dui augue. Mauris a ipsum et ante ultrices tempus id quis sapien. Quisque vitae nisl odio. Ut vehicula sem id quam consectetur, rutrum commodo erat venenatis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas a tincidunt libero, in malesuada arcu. Morbi sed nisi a odio molestie lobortis id at risus.

