extends layout

block content
     include sidebar
         script(type='text/javascript').
             {
                 $(".homeTab").addClass('active');
             }

         block pageContent
         div.page-content-wrapper
            div.container-fluid
                br
                h3 API Test
                hr
                br

                div.text-center
                    if(session.role == "admin")
                        a.flat-bt.flat-primary-bt.width250PX.anchorWhiteHover(href="endpoints/createEndpoint") Create New Endpoint
                        br
                        br
                    a.flat-bt.flat-primary-bt.width250PX.anchorWhiteHover(href="endpoints/viewEndpoints?host=#{hostname}") View Endpoints
                    br
                br
                br
                br
                if(session.role == "admin")
                    div.row
                        hr
                        div.text-center(id="err")
                        div.col-md-2
                        div.col-md-1
                        div.col-md-6
                            h5.pull-left &nbsp;&nbsp;&nbsp;Host Address
                            input.form-control(id="hostname" style="height:35px;" value="#{hostname}")
                        div.col-md-1
                            br
                            br
                            a.flat-bt-small.flat-warning-bt(id="updateHost") Update