//
   Created by asad on 6/24/15.

extends layout
block content
    div.loginPage
        .container
            .container
                .wrapper
                    div.form-signin
                        h2.form-signin-heading Sign In
                        div.center.expandToParent(id="err")
                        hr.colorgraph
                        input.form-control.inputStretch.loginForm(type='text', id='username', name='username', placeholder='Username', required='', autofocus='')
                        input.form-control.inputStretch.loginForm(type='password', id='password', name='password', placeholder='Password', required='')
                        input.btn-block.flat-bt.flat-primary-bt(id='login',name='Submit', value='Login', type='Submit')
                        hr.greyHr
                        div(align="center")
                            a.anchorLogin(href="#") Sign Up
                            a.anchorLogin(href="#") Forgot Password?
