//
   Created by asad on 7/8/15.

script.
   function RedirectToViewEndpoint() {
      var path = window.location.pathname;
      var page = path.split("/").pop();
      if(page!="viewEndpoints")
      {
         window.location.href = '/endpoints/viewEndpoints';
      }
   }
div(id="wrapper")
   div(id="sidebar-wrapper")
      ul.sidebar-nav
         li.sidebar-brand
            a API Test
         li
            a(href="/") Home
         li(style="line-height:0px !important;margin-bottom:0px !important;text-indent:5px;")
            .list-group.panel(style="line-height:0px !important;margin-bottom:0px !important;")
               a.list-group-item(href='#eps', data-toggle='collapse', data-parent='#eps', onclick="RedirectToViewEndpoint()")
                  | Endpoints
                  span.menu-ico-collapse
                     i.fa.fa-chevron-circle-down

               #eps.collapse.pos-absolute(style=" text-indent:15px;")

         li
            a(href="/settings") Settings
         li
            a(href="/help") Help
         li
            a(href="/logout") Logout

         script.
            $.getJSON("/endpoints/getEnpointsJSONData", function (data) {
               var renderingDat = "";
               var subhtml="";
               for (var i = 0; i < data.length; i++) {

                  subhtml = "<a href='#' onclick='displayEndpoint("+i+")' class='list-group-item sub-item'> ";
                  subhtml+= "   <div class='row' style='margin-left:10px;'>";
                  var obj = data[i];
                  if (obj.endpoint_type == 'POST') {
                        subhtml += "<div class='col-md-3 purple' style='border-radius:3px;text-indent:0px; height:25px; padding-left:0px;padding-right:0px;'>";
                        subhtml += "<div style='width:100%;text-align:center;font-size:12px;'>POST</div> ";
                        subhtml += "</div>";
                        subhtml += "<div class='col-md-9' style='padding-left:0px;'>";
                        subhtml += obj.endpoint_name;
                        subhtml += "</div>";
                     subhtml += "</div>";
                     subhtml += "</a>";
                     $('#eps').append(subhtml);
                  }
                  else if (obj.endpoint_type == 'GET') {
                     subhtml += "<div class='col-md-3 green' style='border-radius:3px;text-indent:0px; height:25px; padding-left:0px;padding-right:0px;'>";
                     subhtml += "<div style='width:100%;text-align:center;font-size:12px;'>GET</div> ";
                     subhtml += "</div>";
                     subhtml += "<div class='col-md-9' style='padding-left:0px;'>";
                     subhtml += obj.endpoint_name;
                     subhtml += "</div>";
                     subhtml += "</div>";
                     subhtml += "</a>";
                     $('#eps').append(subhtml);

                      }
                  else if (obj.endpoint_type == 'PUT')
                  {
                     subhtml += "<div class='col-md-3 orange' style='border-radius:3px;text-indent:0px; height:25px; padding-left:0px;padding-right:0px;'>";
                     subhtml += "<div style='width:100%;text-align:center;font-size:12px;'>PUT</div> ";
                     subhtml += "</div>";
                     subhtml += "<div class='col-md-9' style='padding-left:0px;'>";
                     subhtml += obj.endpoint_name;
                     subhtml += "</div>";
                     subhtml += "</div>";
                     subhtml += "</a>";
                     $('#eps').append(subhtml);

                  }
                  else if (obj.endpoint_type == 'DELETE')
                  {
                     subhtml += "<div class='col-md-3 red' style='border-radius:3px;text-indent:0px; height:25px; padding-left:0px;padding-right:0px;'>";
                     subhtml += "<div style='width:100%;text-align:center;font-size:12px;'>DELETE</div> ";
                     subhtml += "</div>";
                     subhtml += "<div class='col-md-9' style='padding-left:0px;'>";
                     subhtml += obj.endpoint_name;
                     subhtml += "</div>";
                     subhtml += "</div>";
                     subhtml += "</a>";
                     $('#eps').append(subhtml);

                  }
                  else
                  {

                     subhtml += "<div class='col-md-3 purple' style='border-radius:3px;text-indent:0px; height:25px; padding-left:0px;padding-right:0px;'>";
                     subhtml += "<div style='width:100%;text-align:center;font-size:12px;'>POST</div> ";
                     subhtml += "</div>";
                     subhtml += "<div class='col-md-9' style='padding-left:0px;'>";
                     subhtml += obj.endpoint_name;
                     subhtml += "</div>";
                     subhtml += "</div>";
                     subhtml += "</a>";
                     $('#eps').append(subhtml);
                     }
               }
               $(function () {
                  $(".accordion").accordion({active: false, collapsible: true});
               });
            });



   block pageContent