extends layout
block content
    include sidebar
        script(src='/js/viewEndpoints.js')
        block pageContent
        div.page-content-wrapper
            div.container-fluid
                h2 Endpoint
                    if(session.role == "admin")
                        a(href="createEndpoint" class="pull-right flat-bt flat-flat-info-bt" style="margin-right:10px;font-size:12px;") Create New
                hr
                div.accordion
                    div.epStyle(style="line-height:33px; ") &nbsp;&nbsp;Select an endpoint from the left panel
                    div
                br
                br
