body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    min-height:100%;
    position:absolute; top:0; bottom:0; right:0; left:0;
}

a {
  color: #037f8b;
}
html
{
    height: 100%;
}
h5
{
    font-size: 16px;
}
.loginPage
{
    background:#222;height:100%;
}
.flat-bt {
  display: inline-block;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
  font-size: 16.5px;
  padding:   12px;
  border: 0;
  background: #5b5b5b;
  color: #FFF !important;
  cursor: pointer;
  outline: 0;
}
a.flat-bt {
    text-decoration: none !important;
}
a.flat-bt-small {
    text-decoration: none !important;
}
.flat-bt-small {
    display: inline-block;

    border-radius: 5px;
    font-family: "Lato", sans-serif;
    font-size: 13.5px;
    padding:   8px;
    border: 0;
    background: #5b5b5b;
    color: #FFF !important;
    cursor: pointer;
    outline: 0;
}

.flat-bt:hover {
  background: #7d7d7d;
}
.flat-primary-bt {
  background: #5b5b5b;
}
.flat-primary-bt:hover {
  background: #7d7d7d;
}
.flat-info-bt {
  background: #337574;
}
.flat-info-bt:hover {
  background: #4a9ca5;
}
.flat-danger-bt {
  background: #e74c3c;
}
.flat-danger-bt:hover {
  background: #ec7063;
}

.flat-warning-bt {
    background: #e77902;
}
.flat-warning-bt:hover {
    background: #e0a946;
}
.flat-success-bt {
    background: #5cb40b;
}
.flat-success-bt:hover {
    background: #87e43b;
}

.wrapper {
    margin-top: 80px;
    margin-bottom: 20px;
}

.form-signin {
    max-width: 420px;
    padding: 30px 38px 66px;
    margin: 0 auto;
    background-color: #f6f6f6;
}

.form-signin-heading {
   color:#444;
}

.form-control {
    position: relative;
    font-size: 16px;
    height: 30px;
}

input[type="text"].loginForm {
    margin-bottom: 0px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom:0;
    height: 40px ;
}

input[type="password"].loginForm  {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: 40px ;

}
input[type="text"]{
    margin-bottom: 0px;

    height: 40px ;
}
.searchTextbox
{
    height:35px !important;
    border-radius: 3px !important;
    font-size: 13px !important;
}
.inputStretch
{
    width: 100%;
}
.colorgraph
{
height: 7px;
border-top: 0;
background: #c4e17f;
border-radius: 5px;
background-image: -webkit-linear-gradient(left, #a4be67, #A4BE67 12.5%, #c4dc83 12.5%, #c4dc83 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
background-image: -moz-linear-gradient(left, #A4BE67, #A4BE67 12.5%, #c4dc83 12.5%, #c4dc83 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
background-image: -o-linear-gradient(left, #A4BE67, #A4BE67 12.5%, #c4dc83 12.5%, #c4dc83 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
background-image: linear-gradient(to right, #A4BE67, #A4BE67 12.5%, #c4dc83 12.5%, #c4dc83 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.anchorLogin
{
    padding: 20px;
    cursor: hand;
}
.errorMessage{
    background: #ffcec6;
    color: #c50000;
    font-size: 16px;
}
.successMessage{
    background: #ebffb1;
    color: #5ac500;

    font-size: 16px;
}
.center
{
    text-align: center;
}
.expandToParent
{
    width: 100%;
}
.greyHr
{
    display: block; height: 1px;
    border: 0; border-top: 1px solid #ddd;
    margin: 1em 0; padding: 0;
}





.navbar
{
    border-radius:0px;
    border:0px;
}
.navbar-brand
{
    color:#fff !important;
}


.navbar-nav li a:hover
{

    color:#fff !important;
}
.active a
{
    background: #5b5b5b !important;

    color:#fff !important;
}

.navbar-dark{
    background: #222;


    border-radius:0px;
}

.navbar-default .navbar-nav  .open  .dropdown-toggle, .navbar-default .navbar-nav  .open  .dropdown-toggle:focus
{
    background:#5b5b5b !important;

    color:#fff !important;
}

.navbar-nav li a:hover
{
    color:#fff !important;
}
.navbar-nav li a:focus
{
    color:#777 !important;
}

.dropdown-menu li a:hover
{
    color:#333 !important;
}

.width250PX
{
    width:250px;
}

.anchorWhiteHover:hover
{
    color:#fff;
    text-decoration: none;
}

.addRemoveBt
{
    width:60px;
    height:40px;
    font-size:16px;
}

.scrollable
{
    height: 100%;
    padding-top: 50px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.navbar-right
{
    padding-right: 30px;
}
.accordianHeaderBar
{
    height: 33px !important;
    background: #003bb3;
}
.accordion .ui-accordion-content {
    width: 100%;

    background-color: #fefefe;
    color: #444;
    font-size: 10pt;
    line-height: 16pt;
}
.red
{
    background-color: #c01600;
    color:#fff;
}
.orange
{
    background-color: #de5f19;
    color:#fff;
}
.purple
{
    background-color: #4b3375;
    color:#fff;
}
.green
{
    background-color: #3c9719;
    color:#fff;
}
.lightGreen
{

    background-color: #e9ffe5;
    color:#555;

}

.blue
{
    background-color: #448bc5;
    color:#fff;
}
.lightBlue
{

    background-color: #c7f5ff;
    color:#555;

}

.padderEight
{
    padding:8px;

}
.accordion  .ui-state-default
{

    background-color: #e9ffe5;
    padding: 0px;
    height: 35px;
}
.ui-accordion .ui-accordion-header {

    border: 1px solid #84c52c;
    padding:0px !important;
}

input[type="text"].keyValuePairs{

    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 5px;
    text-align: center;
}

.roundText
{
    padding: 5px;
    border-radius: 3px;
}
.borderedTextGreen
{
  border: 1px solid #00a700;
    background-color: #d7feb6;
color: #275126;

    font-size: 14px;
    padding: 5px;
    border-radius: 3px;
}

.pointerCursor
{
    cursor: pointer;
}

.blueFont{
    color: #808987;

}
.endpointTypeRadioStyle
{
    display:inline-block;text-align:center; height:35px;width:75px;
}






#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 35px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}
.bottomAlignSidebar li {
    text-indent: 20px;
    line-height: 40px;
}
.bottomAlignSidebar li a
{
    display: block;
    text-decoration: none;
    color: #999999;
}
.bottomAlignSidebar li a:hover
{
    display: block;
    text-decoration: none;
    color: #999999;
}
.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #fff;
    background: #bb0a00;
    border-bottom: 3px solid #720900;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}


.panel
{
    background: #222;
    border: 0px;
    box-shadow: none;
}
.list-group-item
{
    background: #000;
    border: 0px;
    box-shadow: none;
}
.list-group-item:focus
{
    background: #333 !important;
    color:#fff !important;
    border: 0px;
    box-shadow: none;
}

.list-group-item.sub-item
{
    line-height: 25px  !important;
}

.greenBoldText
{
    color: #006000;
    font-weight: bold;
    background: #dcffe5;
    padding:5px;
    border-radius: 5px;
}